<nav class="nav">
            
                <li><a class="nav-link"  routerLink="/member">Member</a></li>
                <li><a class="nav-link"  routerLink="/product">Product</a></li>
 </nav>
      
<router-outlet></router-outlet>


<!-- <form  class="container"
 [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
<input type="text" name="firstname" placeholder="Firsttname" formControlName="firstname">
<input type="text" name="lastname" placeholder="Lastname" formControlName="lastname" >
<select name="sub"formControlName="sub">
<option value="C++">c++</option>
<option value="java">laravel</option>
<option value="angular">Lara</option>
</select>
<input type="submit" value="Submit">

</form>
 -->



<!-- 
<h2>Item List</h2>
<div>
        <input [(ngModel)]="newItem" placeholder="Add Item">
        <button (click)="pushItem()">Add</button>


<ul>
<li *ngFor="let i of items ; let ind =index ">{{i}}
    <span><button (click)=removeItem(ind)>Delete</button></span></li>

</ul>
</div> -->